main
{
	min-width: 0;
}

body
{
	background-color: #7eb2cc;
	overflow-wrap: anywhere;
}

.toolBarContainer
{
	display: grid;
	grid-gap:10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
	font-size:200%;
	padding:0.3%;
	background-color: #43586b;
	border-radius: 2%;
	align-self: center;

	/*#D1E8E2; old nice green color*/
	/*#CCF0CB*/
	/* */
}

div.toolBarContainer a
{
	text-decoration: none;
	color: #e6eaed;
	padding: 1% 9%;
	border-radius: 5%;
	text-align: center;
}
/* #D948AB*/

div.toolBarContainer a:hover {
  /*background-color: #b1e7fa;*/
  color: #b02904;
}
/*#5EE274*/

.myInfo
{
	display: grid;
	grid-gap:10px;
	grid-template-columns: 1fr 2fr;
	text-align: center;
	font-size:150%;
	background-color: #7eb2cc;
}
/*#B1A296*/
/*#bde4f2*/

#myName
{
	color: #b02904;
	font-weight: 800;
	font-size:110%;
}


#mySelfie
{
	width:80%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 15px;
}


.centerText
{
	display: flex;
	justify-content: center;
	font-size:200%;

	background-color: #bde4f2;
	margin-top: 20px;
	border-radius: 1% 1% 0% 0%;


*/
}
/*#3973ac*/

/*#bde4f2*/



.mySkills
{
	display: grid;
	grid-gap:10px;
	grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
	font-size:100%;
	background-color: #bde4f2;
	border-radius: 0% 0% 0.5% 0.5%;
}
/*#93dbf5*/

/*#bde4f2*/


.centerSkills
{
	font-size:150%;
	text-align: left;
	padding-left: 15px;
}

/* Stlying for my social links */
.socials
{
}

div.socials img
{
	width:4%;
	height:4%;
	padding-top:2%;
}

div.socials span
{
	font-size: 75%;
	text-decoration: none;
	padding-right: 10px;
	padding-bottom: 3%;
	display: inline-block;
}

div.socials a
{
	text-decoration: none;
}

#resumeIcon
{
	width:3.8%;
	height: 1%;

	border-radius: 35% 35% 10% 10%;
}

.projectList
{
	display: grid;
	grid-template-rows: repeat(auto-fill,minmax(500px,1fr));
	background-color: #bde4f2;
	justify-content: center;
	/*padding: 2% 0.1%;*/
	border-radius: 0% 0% 0.5% 0.5%;
}
/*orange*/
/*#b1e7fa*/

.projectBox
{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
	background-color: #ffedc4;
	width:90%;
	justify-content: center;
	border-radius: 1%;
	margin-bottom: 2.5%;
	margin-left:5%;
}
/*pink*/

.projectBox img
{
	width:80%;
	padding: 10%;
	padding-bottom: 0%;
}

.projectTitle
{
	font-size:200%;
	text-decoration-color: red;
	text-align:center;
}
/*red*/

.projectDescription
{
	font-size:125%;
	padding:10%;
	text-decoration-color: #b1e7fa;
	text-align:left;
}
/*purple*/

/*Styling for my link to github code and live demo under projects*/
.projectLinks
{
}


div.projectLinks span
{
	font-size: 100%;
	text-decoration: none;
	justify-content: top;
	align-content: center;
	padding-left: 2%;
}

div.projectLinks img
{
	width:4%;
	height:4%;
}

/* I'M REALLY STUCK ON THE PROJECT LINKS, I CAN'T GET THEM TO GO WHERE I WANT :( */